header img {
    height: 90px;
    width: auto;
}

/* #connection {
    background-image: url(../img/login.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#registration {
    background-image: url(../img/registration.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */